body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: Helvetica, sans-serif;
}
html,
body,
.container {
  height: 100%;
}
.container {
  display: flex;
}
/*Cell width and height*/
.game {
  margin: auto auto;
  text-align: center;
  line-height: 70px;
  width: 348px;
  height: 348px;
}
.cell {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0;
  color: #333;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transform: translate3d(0px, 0px, 0px) scale(1.1);
  position: absolute;
}
.empty {
  opacity: 0;
}
