.move-right
  transform translate(80px, 0) translate3d(0px,0px,0px) scale(1.1)
.move-left
  transform translate(-80px, 0) translate3d(0px,0px,0px) scale(1.1)
.move-bottom
  transform translate(0, 80px) translate3d(0px,0px,0px) scale(1.1)
.move-top
  transform translate(0,-80px) translate3d(0px,0px,0px) scale(1.1)