body
  margin 0
  padding 0
  background #eee
  font-family Helvetica, sans-serif

html
body
.container
  height 100%

.container
  display: flex
/*Cell width and height*/
cellSize = 70px
cellMargin = 10px

@require game
@require cell
@require animations